.centered-list {
  list-style: none; /* Quita los puntos de la lista */
}

.container2 {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}
